* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
  }
  .container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 760px;
      background-image: linear-gradient(to left bottom, #47ecaa, #00dace, #00c4e7, #00aaed, #418ddd);
  }
  .todos-input-session{
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      margin-top: 5px;
      margin-left: 4%;
      width: 50%;
  }
  .todos-input{
    width: 80%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 2%;
    vertical-align: middle;
  }
  .todos-input::placeholder{
      color: black;
      opacity: 0.5;
  }
  .addbutton{
      font-size: 35px;
      vertical-align: middle;
      margin-left: 1%;
  }
  .middle-session{
      margin-top: 1%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .list{
      text-align: center;
      width: 30%;
      height: 500px;
      margin-left: 1%;
      border-radius: 10px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .todos-item{
      margin-left: 10%;
      width: 80%;
      background-color: rgba(211, 207, 207, 0.801);
      text-align: left;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
      border-radius: 4px;
      margin-top: 2%;
      cursor: grab;
      user-select: none;
      transition: 0.25s ease;
  }
  .todos-item:hover{
      transform: scale(1.08);
      background-color: rgba(177, 173, 173, 0.801);
  }
  .todos-delete{
      color: tomato;
      border: 0;
      outline: 0;
      font-size: 25px;
      background-color: white;
      z-index: 10;
      cursor: pointer;
      transition: 0.25s ease;
  }
  .todos-delete:hover{
      background-color: tomato;
      color: white;
  }
  .bottom-section{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .bottom-section span{
      margin-left: 7%;
  }
  .clear-button-container{
      margin-left: 81%;
      z-index: 50;
      width: 55%;
      margin-top: -1%;
  }
  .todos-clear{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    color: rgb(0, 119, 255);
    background-color: white;
  }

  .pending{
      width: 35%;
      color: white;
      margin-left: 0;
      margin-left: 5%;
  }
  .empty-todo{
    width: 15%;
    margin-left: 5%;
    z-index: 25;
    margin-top: -3%;
  }
  .todos-empty{
      color: white;
      font-weight: 600;
  }

