<template>
  <div id="app">

    <div class="container">
      <div class="todos-input-session">
      <div class="section1">
      <input type="text" placeholder="Add Task" class="todos-input" @keyup.enter="addTodo" v-model="newTodo">
      <i class="fas fa-plus-circle fa-2x addbutton" @click="addTodo"></i>
      </div>
      </div>

      <div class="middle-session">

      <div class="list">
      <h1>to do</h1>
      <draggable class="list-group" :list="todos" group="my-group" @change="log">
      <transition-group>
      <div v-for="(todo,index) in todos" :key="index" class="todos-item">
          <button class="todos-delete" @click="removeTodo(index)">&times; </button> {{todo.text}}
        </div>
      </transition-group>
      </draggable>
      </div>

      <div class="list">
      <h1>Pending</h1>
      <draggable class="list-group" :list="pending" group="my-group" @change="log">
      <transition-group>
        <div v-for="(pending,index) in pending" :key="index" class="todos-item">
        <button class="todos-delete" @click="removePending(index)">&times; </button> {{pending.text}}
        </div>
       </transition-group>
      </draggable>
      </div>

      <div class="list">
      <h1>completed</h1>
      <draggable class="list-group" :list="done" group="my-group" @change="log">
      <transition-group>
        <div v-for="(done,index) in done" :key="index" class="todos-item">
        <button class="todos-delete" @click="removeDone(index)">&times; </button> {{done.text}}
        </div>
       </transition-group>
      </draggable>
      </div>

    </div>

    <div class="bottom-section">
      <span v-show="pending.length" class="pending">{{ pending.length }} pending</span>
    </div>
    <div class="clear-button-container"><button class="todos-clear" @click="clearCompleted" v-show="done.length">Clear completed tasks</button></div>
    <div class="empty-todo"><p class="todos-empty" v-show="!todos.length">Nothing to do...!</p></div>
    </div>

    </div>

</template>

<script>
import draggable from 'vuedraggable'
export default {
  name: 'App',
  components: {
    draggable,
  },
   data(){
    return{
      newTodo: '',
  
      todos: [{text:"Do something",completed:false}],
      done: [{text:"Did something",completed:false}],
      pending: [{text:"Doing something",completed:false}],
      myVar:false, 
    }
},

 computed: {
  
      },

  methods:{
    addTodo() {
        const newEntry = {
          text: this.newTodo,
          completed: false 
        };
  
        if (this.newTodo.length) {
          this.todos.push(newEntry);
          this.newTodo = '';
        }
        else{
            alert("Empty..!");
        }
      },
      removeTodo(index) {
        this.todos.splice(index, 1);
      },
      removePending(index) {
        this.pending.splice(index, 1);
      },
      removeDone(index) {
        this.done.splice(index, 1);
      },
      clearCompleted() {
        this.done = [];
      },
      edit(){
      }
  }

}
</script>

